<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link type="image/png" sizes="16x16" rel="icon" href="../../favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Video Call - Web Firebase</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="media">
        <div class="video">
          <h3>Local Stream</h3>
          <video id="webcamVideo" autoplay playsinline muted></video>
        </div>
        <div class="video">
          <h3>Remote Stream</h3>
          <video id="remoteVideo" autoplay playsinline></video>
        </div>
      </div>
      <div class="actions">
        <button id="callButton" class="green">Create Call (offer)</button>
        <button id="answerButton" class="blue">Add Answer</button>
      </div>
      <input id="callInput" />
      <div class="actions">
        <button id="toggleCameraButton" class="red">
          <span>Disable</span>
          <span>Enable</span>
          Camera
        </button>
        <button id="toggleMicrophoneButton" class="red">
          <span>Disable</span>
          <span>Enable</span>
          Microphone
        </button>
      </div>
    </div>
    <script type="module" src="./main.js"></script>
  </body>
</html>
