*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --dark: #2e2e2e;
  --light: #f2f2f2;
  --light-border: #dfdfdf;
  --white: #ffffff;
  --black: #000000;
  --primary: #ff2424;
  --primary-border: #d30000;
}
body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  border-radius: 50px;
  overflow: hidden;
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.video {
  object-fit: cover;
  background-color: var(--black);
}

.video--remote {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

.video--local {
  z-index: 1;
  width: 224px;
  height: 152px;
  border: 7px solid var(--dark);
  border-radius: 19px;
  margin-top: 16px;
  margin-right: 16px;
}

button {
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button-action {
  border: none;
  padding: 16px 55px 16px 26px;
  text-align: center;
  display: inline-flex;
  align-items: center;

  gap: 22px;
  border-radius: 9999px;
  font-weight: 400;
  background-color: var(--primary);
  color: var(--white);
  font-size: 32px;
  border: 2px solid var(--primary-border);
}

.button-action:active {
  background-color: var(--primary-border);
}

.button-icon {
  width: 64px;
  height: 64px;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 24px;
}

.button-control {
  padding: 16px;
  border-radius: 100%;
  background-color: var(--light);
  border: 2px solid var(--light-border);
  line-height: 0;
}

.button-control:active {
  background-color: var(--light-border);
}

.group {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 22px 16px 16px;
  align-items: center;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 66px;
}

.label {
  color: var(--white);
  font-size: 32px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.375;
  color: var(--black);
}

.volume-modal {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 510px;
  left: 0;
  right: 0;
  margin-inline: auto;
  background-color: var(--white);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--light-border);
  border-top: 0;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  padding: 54px 24px 72px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.volume-modal.active {
  opacity: 1;
  visibility: visible;
}

.volume {
  display: inline-flex;
  width: 292px;
  gap: 3px;
  border-radius: 11px;
  overflow: hidden;
}

.volume span {
  flex: 100% 1 1;
  background-color: var(--light-border);
  height: 16px;
}

[data-level='0.2'] span:nth-child(-n + 1) {
  background-color: var(--black);
}

[data-level='0.4'] span:nth-child(-n + 2) {
  background-color: var(--black);
}

[data-level='0.6'] span:nth-child(-n + 3) {
  background-color: var(--black);
}

[data-level='0.8'] span:nth-child(-n + 4) {
  background-color: var(--black);
}

[data-level='1'] span {
  background-color: var(--black);
}
@media (max-width: 768px) {
  body {
    background-color: transparent;
    min-height: auto;
    width: max-content;
  }
  .container {
    width: 216px;
    height: 130px;
    border-radius: 12px;
    padding: 0;
    overflow: hidden;
  }

  .container > *:not(.video--remote) {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

  .video--remote {
    position: static;
  }
}
