/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: black;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video {
  background-color: black;
  aspect-ratio: 16 / 9;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
  object-fit: cover;
}

.video--local {
  z-index: 1;
}

.video--local {
  top: 24px;
  right: 24px;
  --size: 200px;
  width: var(--size);
  height: calc(var(--size) * 2 / 3);
  object-fit: cover;
  border: 5px solid black;
  border-radius: 16px;
}

.button {
  border: none;
  color: white;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0;
  display: inline-flex;
  gap: 10px;
  border-radius: 9999px;
}

button svg {
  width: 32px;
  height: 32px;
}

.red {
  background-color: #f44336;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 12px;
  align-items: center;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  position: absolute;
  left: 24px;
  bottom: 24px;
}

.timer {
  color: white;
  line-height: 1;
}

.button-label {
  display: none;
  color: white;
}

@media (max-width: 500px) {
  body {
    background-color: transparent;
  }
  .container {
    height: auto;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #2d2d2d;
    overflow: hidden;
    padding-top: 8px;
  }

  .video--remote {
    position: relative;
    background-color: lightgrey;
    border-radius: 8px;
    width: calc(100% - 16px);
    margin-inline: auto;
  }

  .video--local {
    visibility: hidden;
    opacity: 0;
  }

  .group {
    position: static;
    padding: 0;
    gap: 0;
  }

  .button {
    width: 100%;
    border-radius: 0;
    justify-content: center;
  }

  .button span {
    display: none;
  }

  .button-label,
  .timer {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .timer {
    border-bottom: 1px solid #8b8b8b;
  }
}
